.form-body{
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.form-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 10px;
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.form-h1{
    font-weight: 600;
    padding: 10px;
    text-align:center;
    color: black;
    text-transform: uppercase;
}
.form-datos{
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form-input{
    margin: 0px 10px;
    padding: 10px;
    width: auto;
}

.form-input label{
    font-size: 18px;
    color: black;
    margin-right: 10px;
}
.form-input input{
    border-radius: 36px;
    padding: 10px;
    outline-color: rgba(49, 138, 172, 0);
}

.form-select{
    border-radius: 36px;
    padding: 10px;
    outline-color: rgba(49, 138, 172, 0);
}
.form-check{
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}
.form-button{
    padding: 5px;
    color: var(--white);
    text-align: center;
    display: block;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}